# /*=== Reset ===*/

html, body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  margin: 0;
}

/*=== Background Colors ===*/

.purple-1 {
  background: #EAEAF4;
}

.purple-2 {
  background: #A9AAD2;
}

.purple-3 {
  background: #5356A4;
}

.purple-4 {
  background: #1F1F3D;;
}

/*=== Fonts ===*/

.card-header,
.comment-text,
.form-body-text,
.formbutton,
.header-text,
.menu-body-text,
.show-starred-button,
.title-text {
  font-family: 'Open Sans';
  font-weight: bold;
}

.comment-text,
.header-text {
  color: #EAEAF4;
}

.body-text {
  color: #BFBFDD;
}

.card-header,
.card-text,
.comment-text {
  font-size: 18px;
  padding: 6px;
}

.body-text,
.card-text,
::placeholder {
  font-family: 'Open Sans';
  font-weight: light;
}

/*=== menu section ===*/

.menu {
  background-color: #1F1F3D;
  height: 100%;
  width: 380px;
}

.hamburger-menu {
  display: none;
}

.menu-close {
  display: none;
  float: left;
  height: auto;
  max-width: 11%;
  min-width: 5%;
}

.menu-title {
  color: white;
  margin: 0;
  padding-left: 5px;
  padding: 15px;
}

.menu-body-text {
  border-bottom: 1px solid #353567;
  border-top: 1px solid #353567;
  color: #BFBFDD;
  display: flex;
  flex-direction: column;
  font-size: 90%;
  height: 10vh;
  justify-content: space-between;
  padding: 20px;
}

.show-starred-button {
  background: #5356A4;
  border: #353567;
  color: #E9E9F3;
  font-size: 130%;
  height: 4vh;
  min-height: 25px;
  width: 95%;
}

.hide {
  display: none!important;
}

/*=== main section ===*/

.ideas {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.idea-form {
  flex-grow: 2;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 300px;
}

.title-text {
  color: #333451;
  width: 50%;
}

.input-body,
.input-title,
.form-button,
.search-box {
  border-radius: 4px;
  border: 2px solid #5356A4;
  width: 50%;
}

.input-title {
  height: 7vh;
  width: 50%;
  resize: none;
}

.form-body-text {
  color: #333451;
  width: 50%;
}

.input-body {
  height: 15vh;
  resize: none;
}

.form-button,
.search-box {
  background-color: #353567;
  height: 7vh;
}

.form-button {
  color: #EAEAF4;
  font-size: 1.5em;
  margin-top: 2%;
}

#save-button:disabled {
  background-color: rgba(83, 86,	164, 0.5);
  min-height: 33px;
}

.search-box {
  display: flex;
  margin: 2%;
}

#search {
  padding: 2%;
  width: 10%;
}

.search-input {
  font-size: 1.2em;
  padding-left: 2%;
  width: 100%;
}

::placeholder {
  color: #5356A4;
}

.idea-cards {
  flex-grow: 3;
  max-height: 500px;
  overflow: auto;
}

.card-grid {
  background: #EAEAF4;
  display: grid;
  flex-grow: 3;
  font-size: 14px;
  grid-gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  min-height: 200px;
  padding: 30px;
}

.box {
  background: #FFFFFF;
  border-color: #1F1F3D;
  border-width: 1px;
  border-width: 1px;
  border: solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 10vh;
}

.card-top,
.card-bottom {
  align-items: center;
  display: flex;
  height: 6vh;
  width: auto;
}

.card-top {
  background: #1F1F3D;
  justify-content: space-between;
}

.card-bottom {
  background: #5356A4;
  flex-direction: row;
}

.comment,
.delete,
.star-active,
.star-inactive {
  height: 6vh;
  width: 5em;
}

.star-inactive {
  float: left;
}

/*=== media queries ===*/
@media only screen and (max-width: 1100px) {

  .box {
    border: solid;
    border-color: #1F1F3D;
    border-width: 1px;
  }

  .card-grid {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
}

.card-top {
  background: #1F1F3D;
  height: 50px;
}

.card-bottom {
  background: #5356A4;
  height: 55px;
  }

.box {
  border-color: #1F1F3D;
  border-width: 1px;
  border: solid;
  }

@media only screen and (max-width: 600px) {
  body {
    flex-direction: column;
  }

  .mobile-menu {
    height: 40px;
    text-align: center;
    width: 100%;
  }

  .hamburger-menu,
  .menu-close {
    display: inline;
    height: auto;
    max-width: 9%;
    min-width: 8%;
  }

  .header-text {
    align-items: center;
    display: flex;
    font-size: 18px;
    justify-content: center;
    margin: 0px;
    padding: 9px;
  }

  .menu-icon {
    left: 0px;
    position: absolute;
  }

  .menu-title {
    padding: 0px;
  }

  .hide {
    display: none!important;
  }

  .purple-4 {
    background: #1F1F3D;
    border-top: none;
    display: flex;
    flex-direction: column;
    height: 180px;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    z-index: 2;
  }

  .gray-1 {
    background: darkgray;
    height: 100%;
    opacity: 80%;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  .mobile-menu-body-text {
    display: inherit;
    left: 0px;
  }

  .menu-body-mobile {
    border: none;
    z-index: 2;
  }
  
  .purple-4 {
    background: #1F1F3D;
    height: 180px;
    width: 100%;
    position: absolute;
    border-top: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
  }

  .idea-form {
    flex-grow: 1;
  }

  .form-body-text,
  .form-button,
  .input-body,
  .input-title,
  .search-box,
  .search-input,
  .title-text {
    width: 90%;
  }

  .card-grid {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
  }

  .box {
    display: flex;
    flex-grow: 1;
    margin: 5px 0;
    width: 100%;
  }

}
